
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}



section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}



header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
.header{
    border: 0.2em solid #a66;
}
nav {
    float: right;
}
nav ul home{
    border: 0.2em solid #a66;
    
}
    